---
import Layout from '../layouts/Layout.astro';
import LaunchesServer from '../components/LaunchesServer.astro';
---

<Layout title="Welcome to Astro.">
	<main class="bg-green-900 rounded">
		<LaunchesServer></LaunchesServer>
	</main>
</Layout>

<style>
main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}


</style>
